body{
  color:#3a3a3a;
  background-color:#abfff4;
}
#container{
  position: relative;
  text-align: center;
  color: white;
  background-color:paleturquoise;
}
#bmm{
    width: 50%;
    margin-top: 0%;
    border-radius: 10px;
}
#box{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
}
#about{
  width:500px;
  background-color: aquamarine;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.centered{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#name{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main-text{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:25px;
}
#navi{
  margin-left: auto;
  margin-right: auto;
  font-size:18px;
  width:100%;
  background-color:turquoise;
}
th{
  padding: 10px;
}
th a {
  text-decoration: none;
  color: cornsilk;
}
.sub-text{
  font-family: "Rubik", sans-serif;
  font-weight:100;
  font-style: normal;
  font-size:16px;
}
#tri{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.picture{
  width: 400px;
  border-radius: 5px;
}

.two{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.three{
    text-align: center;
    background-color: aqua;
    padding: 15px 10px 15px 10px;
    display: flex;
    flex-flow: row wrap;
    gap:5px;
    justify-content: center;
    margin-bottom: 25px;
    width:400px;
    height:550px;
    border-radius: 10px; 
}
#form-table{
  margin-left: auto;
  margin-right: auto;
  width:182px;
  text-align: center;
  background-color:thistle
}
#table2 td{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
footer{
  text-align: center;
  font-size: 50px;
  background-color:turquoise;
}




@media (max-width: 1300px){
  #name{
    font-size:25px;
  }
  .main-text{
    font-size:18px;
  }
  .sub-text{
    font-size: 14px;
  }
  #navi{
    margin-left: auto;
    margin-right: auto;
  }
  #tri{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
  }
  .picture{
    width:100%;
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .three{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:60%;
    height:50%;
  }
  
}

@media (max-width: 650px){
  #name{
    font-size:20px;
  }
  .main-text{
    font-size:14px;
  }
  .sub-text{
    font-size: 12px;
  }
  #navi{
    font-size:10px;
    margin-left: auto;
    margin-right: auto;
  }
  table{
    width:70%;
    height:25px;
  }
  p{
    font-size:12px;
  }
  #about{
    width:90%;
  }
  .picture{
    width:100%;
    float: none;
  }
  #picture-2{
    width:100%;
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #picture-3{
    width:100%;
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
}